<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppVBG"
        tools:targetApi="31">
        <activity
            android:name=".ui.quejas.estadisticas_quejas.Estadisticas_quejas"
            android:exported="false"
            android:theme="@style/Theme.AppVBG" />
        <activity
            android:name=".ui.agenda.estadisticas_agenda.Estadisticas_agenda"
            android:exported="false"
            android:theme="@style/Theme.AppVBG" />
        <activity
            android:name=".ui.talleres.estadisticas_talleres.Estadisticas_talleres"
            android:exported="false"
            android:theme="@style/Theme.AppVBG" />
        <activity
            android:name=".ui.talleres.crear_taller.Crear_taller"
            android:exported="false"
            android:theme="@style/Theme.AppVBG" />
        <activity
            android:name=".ui.talleres.Ver_talleres"
            android:exported="false"
            android:theme="@style/Theme.AppVBG" />
        <activity
            android:name=".ui.agenda.Agenda"
            android:exported="false"
            android:theme="@style/Theme.AppVBG" />
        <activity
            android:name=".ui.quejas.Quejas"
            android:exported="false"
            android:theme="@style/Theme.AppVBG" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppVBG.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>